* {
	transition-duration: 0.5s;
	text-align: center;
	font-family: "Roboto Mono", monospace;
	font-weight: bold;
	table-align: center;
	margin: auto;
}

*:focus {
	outline: none;
	webkit-outline: none;
}

body {
	background-color: var(--background);
	color: var(--color);
	overflow: hidden;
	--background: #0f0f0f;
	--color: #dfdfdf;
	--points: #ffffff;
	--shadowColor: transparent;
	--innerShadowColor: transparent;
}

html, body {
	min-height: 100%;
	height: 100%;
}

td {
	padding: 0
}

.upgTable {
	display: flex !important;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	margin: 0 auto;
}

.upgRow {
	display: flex !important;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	margin: 0 auto;
}

.upgAlign {
	vertical-align: 0
}

.bigUpgAlign {
	vertical-align: 0
}

h1, h2, h3, b, input {
	display: inline;
}



.treeNode {
	height: 100px;
	width: 100px;
	border: var(--hqProperty1);
	border-color: rgba(0, 0, 0, 0.125);
	border-radius: 50%;
	box-shadow: var(--hqProperty2a), var(--hqProperty2b);
	font-size: 40px;
	color: rgba(0, 0, 0, 0.5);
	text-shadow: var(--hqProperty3);
	padding: 0;
}


.treeButton {
	height: 100px;
	width: 100px;
	border: var(--hqProperty1);
	border-color: rgba(0, 0, 0, 0.125);
	border-radius: 33%;
	box-shadow: var(--hqProperty2a), var(--hqProperty2b);
	font-size: 40px;
	color: rgba(0, 0, 0, 0.5);
	text-shadow: var(--hqProperty3);
	padding: 0;
	margin: 0 10px 0 10px;
}


.smallNode {
	height: 60px;
	width: 60px;
	font-size: 30px;
}


.locked {
	background-color: #bf8f8f;
	cursor: not-allowed;
}

.can {
	cursor: pointer;
}

.can:hover {
	transform: scale(1.15, 1.15);
	box-shadow: 0 0 20px var(--points)
}


.resetNotify {
	box-shadow: var(--hqProperty2a), 0 0 8px #ffffff;
	z-index: 3
}

.treeNode.can:hover {
	transform: scale(1.15, 1.15);
	box-shadow: var(--hqProperty2a), 0 0 20px var(--points);
	z-index: 4
}

.notify {
	transform: scale(1.05, 1.05);
	border-color: rgba(0, 0, 0, 0.125);
	box-shadow: var(--hqProperty2a), 0 0 20px #ff0000;
	z-index: 3
}

.bought {
	background-color: #77bf5f;
	cursor: default;
}

.back {
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	border: 1px solid transparent;
	color: var(--color);
	font-size: 40px;
	cursor: pointer;
}

.other-back {
	position: absolute;
	top: 0;
	left: 60px;
	background-color: transparent;
	border: 1px solid transparent;
	color: var(--color);
	font-size: 60px;
	cursor: pointer;
}


.back:hover {
	transform: scale(1.1, 1.1);
	text-shadow: 0 0 7px var(--color);
}

.barBase {
	overflow: hidden;
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
	display:table
}

.barBorder {
	border: 2px solid;
	border-radius: 10px;
	border-color: var(--color);
	overflow: hidden;
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
	margin:0
}

.overlayTextContainer {
	z-index: 3;
	border-radius: 10px;
	vertical-align: middle;
	display: flex;
	justify-content: center;
	align-items: left;
	position: absolute;
}

.fill {
	background-color: var(--color);
	z-index:2;
    position: absolute;
	overflow: hidden;
	margin-left: -0.5px;
	transition-duration: 0s;
}

.overlayText {
	z-index: 6;
}

.tabButton {
	background-color: transparent;
	color: var(--color);
	font-size: 20px;
	cursor: pointer;
	padding: 5px 20px;
	margin: 5px;
	border-radius: 10px;
	border: 2px solid;
	color: var(--color);

}

.tabButton:hover {
	transform: scale(1.1, 1.1);
	text-shadow: 0 0 7px var(--color);
}

.reset {
	height: 120px;
	width: 180px;
	border-radius: 25%;
	border: 4px solid;
	border-color: rgba(0, 0, 0, 0.125);
}

.upg {
	height: 150px;
	width: 150px;
	border-radius: 25%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
	font-size: 10px;
}

.achievement {
	height: 90px;
	width: 90px;
	border-radius: 25%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
	font-size: 10px;
	color: white;
	text-shadow: 0 0 2px #000000;
}
.achievement:hover {
	box-shadow: 0 0 10px var(--points);
	z-index: 7;
}

.buyable {
	height: 200px;
	width: 200px;
	border-radius: 25%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
	font-size: 10px;
}

.upgBig {
	height: 200px;
	width: 200px;
	border-radius: 25%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
}

.longUpg {
	height: 50px;
	width: 120px;
	background: var(--points);
	border-radius: 50%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
	font-size: 10px;
}

.smallUpg {
	height: 40px;
	width: 40px;
	border-radius: 25%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
}

#points {
	color: var(--points);
	text-shadow: 0 0 10px var(--points);
}

a {
	color: #ffab40;
	text-decoration-line: none;
	cursor: pointer
}

.link {
	display: block;
	font-size: 20px;
	color: #ffab40;
	cursor: pointer;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #02f2f2;
	text-decoration: none;
}

.link:hover {
	transform: scale(1.2, 1.2);
	text-shadow: 5px 0 10px #ffab40,
              -3px 0 12px #ffab40;
}

.opt {
	height: 100px;
	width: 100px;
	border-radius: 25%;
	border: 4px solid;
	background-color: var(--color);
	border-color: rgba(0, 0, 0, 0.125);
	color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.opt:hover {
	background-color: #439ea3;
}

.hidden {
	visibility: hidden;
	height: 50px !important;
}

.canvas {
	top: 0;
	left: 0;
	position: absolute;
	z-index: -999;
}

.milestone {
	width: 100%;
	min-width: 120px;
	padding-left: 5px;
	padding-right: 5px;
	height: 75px;
	background-color: #bf8f8f;
	border: 4px solid;
	border-radius: 4px;
	border-color: rgba(0, 0, 0, 0.125);
	color: rgba(0, 0, 0, 0.5);
}

.milestoneDone {
	width: 100%;
	min-width: 120px;
	padding-left: 5px;
	padding-right: 5px;

	height: 75px;
	background-color: #77bf5f;
	border: 4px solid;
	border-radius: 4px;
	border-color: rgba(0, 0, 0, 0.125);
	color: rgba(0, 0, 0, 0.5);
}

.left {
	position: absolute;
	left: 0;
}

.remove {
	height: 24px;
	width: 24px;
	cursor: pointer;
}

.remove:hover {
	transform: scale(1.1, 1.1);
}

.col {
	min-width: 49.5%;
	max-width: 49.5%;
	width: 49.5%;
	height: calc(100% - 50px);
	min-height: calc(100% - 50px);
	column-span: 1;
	position: fixed;
	overflow-y: auto;
	overflow-x: auto;
	transition-duration: 0s;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.instant {
	transition-duration: 0s !important
}

.fast {
	transition:color none
}

.col.right {
	top: 50px;
	right: 0;
	z-index: 999999;
}

#app {
	column-count: 2;
	column-width: 50%;
	min-height: calc(100% - 50px);
	margin-top: 50px;
}

.vl {
	border-left: 6px solid var(--color);
	height: 100%;
	position: fixed;
	left: 50%;
	margin-left: -3px;
	top: 0
}

.vl2 {
	border-left: 3px solid var(--color);
	height: 100%;
}

.hl {
	border-top: 3px solid var(--color);
}

ul {
	list-style-type: none;
}

.hChallenge {
	background-color: #bf8f8f;
	border: 4px solid;
	border-color: rgba(0, 0, 0, 0.125);
	color: rgba(0, 0, 0, 0.5);
	width: 300px;
	height: 300px;
	font-size: 15px;
	border-radius: 33.33%;
}

.hChallenge.done {
	background-color: #77bf5f;
}

.hChallenge.canComplete {
	background-color: #ffbf00;
}

.fullWidth {
	position: fixed;
	height: 100%;
	width: 100%;
	min-width: 100%;
	overflow-y: auto;
	overflow-x: auto;
	transition-duration: 0s
}

[tooltip] {
	position: relative;
	z-index: 99999999 !important
}

[tooltip]:before,
[tooltip]:after {
	visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none;
	white-space: pre-wrap;
	-webkit-transform:translate3d(0,0,0);
}

[tooltip]:before {
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-bottom: 5px;
	margin-left: -80px;
	padding: 7px;
	width: 160px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: var(--background_tooltip);
	color: var(--points);
	content: attr(tooltip);
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
	transition-duration: 0.25s;
	white-space: pre-wrap;
}

[tooltip]:after {
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	width: 0;
	border-top: 5px solid var(--background_tooltip);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
	transition-duration: 0.25s;
	white-space: pre-wrap;
}

[tooltip]:hover:before,
[tooltip]:hover:after {
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
	visibility: visible;
	opacity: 1;
	white-space: pre-wrap;
	-webkit-transform:translate3d(0,0,0);

}

#loadingSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.treeOverlay {
	pointer-events:none;
	overflow:hidden;
}

.overlayThing {
	z-index: 10000;
	pointer-events:auto;
	background-color: var(--background);
}

.sideLayers {
	z-index: 10000;
	pointer-events:auto;
	position: absolute;
	right: 55px;
	top: 65px;
}

button > * {
	pointer-events:none;
}

.ghost {
	visibility: hidden
}

.story {
    width: 600px;
    max-width: 95%;
    border-bottom: solid 4px;
    border-radius: 8px;
    text-align: left;
    color: var(--lore-color);
}

.story-title {
    text-align: left;
    font-size: 24px;
    color: black;
    cursor: pointer;
    border: none;
    padding: 2px;
    border-radius: 8px 8px 0 0;
    width: 100%;
    background-color: var(--lore-color);
}

.story-toggle {
    border: none;
    font-size: 20px;
    pointer-events: none;
    width: 1em;
    display: inline-block;
    margin-right: -12px;
}

.story-text {
	padding: 2px;
    border: solid 4px;
    border-color: inherit;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: -2px;
}

#treeTab td button {
    margin: 0 10px;
}

.nav {
	background-color: #333c4a;
	display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    z-index: 9999999;
}

#title {
	font-family: "Pacifico", cursive, sans-serif;
	font-size: 36px;
    text-align: left;
    margin-left: 12px;
}

#optionWheel {
	height: 50px;
	width: 50px;
	cursor: pointer;
	transition-duration: .5s;
}

#optionWheel:hover {
	transform: rotate(360deg);
}

#info {
	font-size: 20px;
	color: white;
	cursor: pointer;
	width: 40px;
	height: 40px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #02f2f2;
    line-height: 14px;
}

#info:hover {
	transform: scale(1.2, 1.2);
	text-shadow: 5px 0px 10px #02f2f2,
              -3px 0px 12px #02f2f2;
}

#discord {
	width: 40px;
	height: 40px;
    cursor: pointer;
}

#discord img {
	width: 100%;
	height: 100%;
}

#discord-links {
	position: fixed;
	top: 0;
	padding: 30px;
	padding-top: 80px;
	right: -280px;
	width: 200px;
	transition: right .25s ease;
	background: #333c4a;
	z-index: -1;
}

#discord:hover #discord-links {
	right: 0;
}

#version {
    text-align: left;
    margin-left: 12px;
    margin-bottom: 5px;
    color: var(--points);
    cursor: pointer;
}

#version:hover {
	transform: scale(1.2, 1.2);
	text-shadow: 5px 0px 10px var(--points),
              -3px 0px 12px var(--points);
}

.tutorial {
	animation: shockwave 2s infinite;
}

@keyframes shockwave {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(0,0,0,0.7);
	}

	70% {
		transform: scale(0.95);
		box-shadow: 0 0 0 20px rgba(0,0,0,0);
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(0,0,0,0);
	}
}

@keyframes showJob {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@media only screen and (max-width: 1200px) {
	.col.right {
		min-width: 100%;
		background: var(--background);
	}
}

.card {
	padding: 10px;
	background: darkcyan;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	box-shadow: black 4px 4px 8px 0px;
	border-radius: 10px;
	position: relative;
    margin: 10px auto;
}

.card:hover {
	transform: scale(1.1);
}

.card > span {
	flex-basis: 30%;
	display: flex;
	z-index: 1;
}

.card > img {
	max-width: 50%;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	opacity: .25;
}

.card h3 {
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 100%;
}

.selectedCard, .selectedCard:hover {
	transform: scale(1.2);
	box-shadow: black 0 0 16px 8px;
	z-index: 2;
}

.flipCard {
	animation: flip 1s;
}

@keyframes flip {
	0% {
		transform: rotateY(90deg);
	}

	100% {
		transform: rotateY(0deg);
	}
}

.cursor {
	cursor: pointer;
}

.chipping-container {
    display: flex;
    flex-flow: row wrap;
    width: 400px;
    justify-content: space-around;
}

.chipping {
    width: 30px;
    height: 30px;
    background: grey;
    margin: 4px;
}

.chipping-fill {
    background: white;
}

.hourglass {
	--polygonH: polygon(0% 0%,100% 0%,100% 5.55%,95% 5.55%,95% 28%,60% 46%,60% 54%,95% 72%,95% 94.45%,100% 94.45%,100% 100%,0% 100%,0% 94.45%,5% 94.45%,5% 72%,40% 54%,40% 46%,5% 28%,5% 5.55%,0% 5.55%);
	animation-name: flip;
	animation-duration: var(--flip-duration);
	animation-delay: 0;
	animation-play-state: var(--flip-state);
	animation-timing-function: ease-in-out;
	background-image: linear-gradient(#C2B280 0.5em,#737a8c55 0.5em 8.5em,#C2B280 8.5em);
	clip-path: var(--polygonH);
	-webkit-clip-path: var(--polygonH);
	overflow: hidden;
	position: relative;
	width: 5em;
	height: 9em;
	z-index: 0;
}
.hourglass:before, .hourglass:after {
	animation-timing-function: linear;
	content: "";
	display: block;
	position: absolute;
}
.hourglass:before {
	--polygonB1: polygon(0% 0%,100% 0%,100% 24%,50% 47%,50% 47%,50% 47%,50% 47%,50% 47%,50% 47%,50% 47%,50% 47%,0% 24%);
	--polygonB2: polygon(0% 4%,100% 4%,100% 24%,55% 45%,55% 100%,55% 100%,55% 100%,45% 100%,45% 100%,45% 100%,45% 45%,0% 24%);
	--polygonB3: polygon(0% 24%,100% 24%,100% 24%,55% 45%,55% 80%,100% 100%,100% 100%,0% 100%,0% 100%,45% 80%,45% 45%,0% 24%);
	--polygonB4: polygon(45% 45%,55% 45%,55% 45%,55% 45%,55% 58%,100% 76%,100% 100%,0% 100%,0% 76%,45% 58%,45% 45%,45% 45%);
	--polygonB5: polygon(50% 53%,50% 53%,50% 53%,50% 53%,50% 53%,100% 76%,100% 100%,0% 100%,0% 76%,50% 53%,50% 53%,50% 53%);
	animation-name: fill;
	animation-duration: var(--fill-duration);
	animation-delay: var(--fill-delay);
	animation-play-state: var(--fill-state);
	background-color: white;
	background-size: 100% 3.6em;
	clip-path: var(--polygonB1);
	-webkit-clip-path: var(--polygonB1);
	top: 0.5em;
	left: 0.5em;
	width: 4em;
	height: 8em;
	z-index: 1;
}
.hourglass:after {
	animation-name: glare;
	animation-duration: var(--flip-duration);
	animation-delay: 0;
	animation-play-state: var(--flip-state);
	background:
		linear-gradient(90deg,#0000 0.5em,#0003 0.5em 1.5em,#0000 1.5em 3.5em,#fff3 3.5em 4.5em,#fff0 4.5em 6.5em,#0003 6.5em 7.5em,#0000 7.5em) 0 0 / 100% 0.5em,
		linear-gradient(90deg,#0000 0.75em,#0003 0.75em 1.25em,#0000 1.25em 3.75em,#fff3 3.75em 4.25em,#fff0 4.25em 6.75em,#0003 6.75em 7.25em,#0000 7.25em) 0 0.5em / 100% 8em,
		linear-gradient(90deg,#0000 0.5em,#0003 0.5em 1.5em,#0000 1.5em 3.5em,#fff3 3.5em 4.5em,#fff0 4.5em 6.5em,#0003 6.5em 7.5em,#0000 7.5em) 0 100% / 100% 0.5em;
	background-repeat: repeat-x;
	top: 0;
	left: -3em;
	width: 200%;
	height: 100%;
	z-index: 2;
}
@keyframes fill {
	from {
		clip-path: var(--polygonB1);
		-webkit-clip-path: var(--polygonB1);
	}
	15% {
		clip-path: var(--polygonB2);
		-webkit-clip-path: var(--polygonB2);
	}
	55% {
		clip-path: var(--polygonB3);
		-webkit-clip-path: var(--polygonB3);
	}
	95% {
		clip-path: var(--polygonB4);
		-webkit-clip-path: var(--polygonB4);
	}
	to {
		clip-path: var(--polygonB5);
		-webkit-clip-path: var(--polygonB5);
	}
}
@keyframes glare {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(3em);
	}
}
@keyframes flip {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(180deg);
	}
}
